# 2D Histogram of Rectangular Bins

In [2]:
import numpy as np
import pandas as pd

In [3]:
daily_file = 'bike_day_semantic.csv'
daily = pd.read_table(daily_file, sep=',')
daily

,instant,dteday,season,mnth,holiday,weekday,workingday,weathersit,windspeed,casual,registered,cnt,temp °C,atemp °C,hum %,year
0,1,2011-01-01,winter,1,0,Saturday,0,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",10.749882,331,654,985,8.175849,7.999250,80.5833,2011
1,2,2011-01-02,winter,1,0,Sunday,0,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",16.652113,131,670,801,9.083466,7.346774,69.6087,2011
2,3,2011-01-03,winter,1,0,Monday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",16.636703,120,1229,1349,1.229108,-3.499270,43.7273,2011
3,4,2011-01-04,winter,1,0,Tuesday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",10.739832,108,1454,1562,1.400000,-1.999948,59.0435,2011
4,5,2011-01-05,winter,1,0,Wednesday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",12.522300,82,1518,1600,2.666979,-0.868180,43.6957,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,winter,12,0,Thursday,1,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",23.458911,247,1867,2114,3.945849,-1.041628,65.2917,2012
727,728,2012-12-28,winter,12,0,Friday,1,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",10.416557,644,2451,3095,3.906651,0.833036,59.0000,2012
728,729,2012-12-29,winter,12,0,Saturday,0,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",8.333661,159,1182,1341,3.906651,-0.001600,75.2917,2012
729,730,2012-12-30,winter,12,0,Sunday,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",23.500518,364,1432,1796,4.024151,-0.707800,48.3333,2012
730,731,2012-12-31,winter,12,0,Monday,1,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",10.374682,439,2290,2729,2.144151,-1.249858,57.7500,2012

In [4]:
df = daily

In [9]:
stack = df.groupby([pd.cut(df.cnt, 3), pd.cut(df.windspeed, 3)]).size()
stack

cnt                   windspeed
(13.308, 2919.333]    (1.468, 12.334]      53
                      (12.334, 23.167]     97
                      (23.167, 34.0]       17
(2919.333, 5816.667]  (1.468, 12.334]     197
                      (12.334, 23.167]    158
                      (23.167, 34.0]       15
(5816.667, 8714.0]    (1.468, 12.334]     126
                      (12.334, 23.167]     66
                      (23.167, 34.0]        2
dtype: int64

In [11]:
unstack = stack.unstack()
unstack

windspeed             (1.468, 12.334]  (12.334, 23.167]  (23.167, 34.0]
cnt
(13.308, 2919.333]                 53                97              17
(2919.333, 5816.667]              197               158              15
(5816.667, 8714.0]                126                66               2

In [15]:
stacksum = df.groupby([pd.cut(df.cnt, 3), pd.cut(df.windspeed, 3)]).casual.sum()
stacksum

cnt                   windspeed
(13.308, 2919.333]    (1.468, 12.334]      13979
                      (12.334, 23.167]     24983
                      (23.167, 34.0]        3332
(2919.333, 5816.667]  (1.468, 12.334]     158948
                      (12.334, 23.167]    123911
                      (23.167, 34.0]        8034
(5816.667, 8714.0]    (1.468, 12.334]     178829
                      (12.334, 23.167]    105910
                      (23.167, 34.0]        2091
Name: casual, dtype: int64